{% extends 'base.html.twig' %}

{% block title %}Permessi da visionare{% endblock %}

{% block mainclass %}container pt-3{% endblock %}

{% block head %}
{#    <meta name="turbo-cache-control" content="no-cache">#}
{% endblock %}

{% block importmap %}
    {{ parent() }}
{% endblock %}


{% block main %}
    <h3>Ciao {{ app.user.firstName }}, questi sono i permessi da visionare.</h3>
    {% if app.user.staffMembers | length > 0 or is_granted("ROLE_STAFF")%}
        {{ include('permit/_permits_table.html.twig', {permits : staffPermits}) }}
    {% endif %}
    <a href="{{ path('app_permit_calendar') }}" class="btn btn-outline-success">Calendario
        <i class="fa-regular fa-calendar-check"></i>
    </a>
{% endblock %}
