{% extends 'base.html.twig' %}

{% block head %}
{#    {{ turbo_page_requires_reload() }}#}
{% endblock %}


{% block title %}Mucchetti Home{% endblock %}

{% block mainclass %}{{ parent() }} text-center{% endblock %}

{% block main %}
    <h1>Chi cerchi?</h1>
    <form class="m-auto" role="search">
        <input class="form-control" list="employees" type="search" placeholder="Nome Cognome"
               aria-label="Search" name="employee" autocomplete="off">
        <datalist id="employees">
            {% for user in employees %}
                <option value="{{ user.firstName }} {{ user.lastName }}"></option>
            {% endfor %}
        </datalist>
    </form>
{% endblock %}
