{% extends 'base.html.twig' %}

{% block head %}
{#    {{ turbo_page_requires_reload() }}#}
{% endblock %}

{% block title %}Mucchetti Home{% endblock %}

{% block mainclass %}{{ parent() }} text-center{% endblock %}

{% block main %}
    <p class="lead">Vuoi sapere se la persona che cerchi ha un permesso?<br>Scrivi qui il suo nome..</p>
    <form class="mx-lg-3" role="search">
        <div class="input-group mb-3">
            <input class="form-control" list="employees" type="search" placeholder="Nome Cognome"
                   aria-label="Search" name="employee" autocomplete="off" autofocus>
            <datalist id="employees">
                {% for user in employees %}
                    <option value="{{ user.firstName }} {{ user.lastName }}"></option>
                {% endfor %}
            </datalist>
            <button class="btn btn-outline-secondary" type="submit" id="button-search">Cerca</button>
        </div>
    </form>
{% endblock %}
