{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block mainclass %}col-lg-6 m-lg-auto{% endblock %}

{% block main %}
    <div class="pb-5">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
